html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    color:white;
    background-color: rgb(25, 26, 42);
    font-family: 'Montserrat', sans-serif;
}

section{
    height: 95vh;
    text-align: center;
    overflow: hidden;
}

ul.navbar-nav a{
    margin: 0 5px;
    transition: .75s;
}
ul.navbar-nav a:hover { 
    margin: 0 10px;
    color: #32f3ff !important;
    transition: .75s;
}

div.navbar-buttons button{
    outline: none !important;
    box-shadow: none;
    font-weight: 600;
    margin-left: 10px;
    transition: .3s;
}

div.navbar-buttons button:hover{ 
    color: #32f3ff !important;
    background-color: #2D2F49; 
    transition: .3s;
}

div.navbar-buttons button:focus, button:active{ 
    outline: none !important;
    box-shadow: none;
}


#terminal{
    height: 60vh;
    width: 50vw;
    background-color: #141522;
    position: absolute;
    margin: auto;
    top: 0%; left: 0; bottom: 0%; right: 0;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 3vh solid rgb(9, 14, 24);
    max-width: 1000px;
    min-width: 350px;
}
#purchaseBtn{
    outline: none !important;
    box-shadow: none;
    width: 100px;
    transition: .3s;
}

#purchaseBtn:hover{ 
    width: 110px;
    color: #32f3ff !important;
    background-color: #2D2F49; 
    transition: .3s;
}

.emphasize{
    color: #32f3ff;
    text-decoration: underline;
    font-weight: 600;
}

.header{
    font-weight: 800;
    padding: 4vh 0px;

}

/* Site List */
#siteList{
    max-height: 90vh;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    background-color: rgb(33, 34, 51);
}

#siteList-scroll{
    width: 95%;
    height: 90%;
    padding: 10px;
    overflow: scroll;
    overflow-x:hidden;
    border-radius: 20px;
    background-color: transparent;
}

.site{
    width:95%;
    font-size: x-large;
    font-weight: 600;
    height: 15%;
    min-height: 100px;
    display: flex;
    padding: 0% 5%;
    margin-bottom: 3%;
    margin-right: 3%;
    border-radius: 20px;
    align-items: center;
    background-color:rgb(25, 26, 42);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
    opacity: 0;
}


.site:hover{
    z-index: 1;
    transition: .5s;
    color: #32f3ff;
    transform: scale(1.03);
}

/* Stats */
.stat-block{
    width: 80%;
    color:white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
    /* background-color: white; */
    background-color:rgb(25, 26, 42);
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

.stat-block:hover{
    transform: scale(1.03);
    z-index: 1;
    transition: .2s;
}

.stat-header{
    font-size: x-large;
    font-weight: 800;
}

.stat-users{
    color:lightgray;
}

.stat-checkouts{
    color: #32f3ff;
    font-weight: 800;
}

.stat-image{
    height: auto;
    font-weight: 800;
    max-height: 160px;
    align-self: center;
    border-radius: 20px;
}

#JoinTheTeam{
    width: 85%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    /* background-color: rgba(0,0,0,0.2); */
}

/* FAQ Section */
.faq-box{
    height: auto;
    padding: 4vh 4vw;
    margin-bottom: 3vh;
    border-radius: 5px;
    background-color:rgb(25, 26, 42);
    border-left: 6px solid #32f3ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s;
}

.faq-header{
    font-size: larger;
    font-weight: 600;
}

.faq-answer{
    color:lightgrey;
    font-weight: 600;
}

.line {
    left: 50%;
    height: 10vh;
    margin-top: 2vh;
    margin-left: -3px;
    border-radius: 5px;
    position: absolute;
    border-left: 6px solid #32f3ff;
}

.navbar {
    height: 10vh;
    background-color: #212233;
    transition: .5s;
}

.nav-scrolled {
    padding: 10px 0 !important;
    background-color: #191A2A !important;
    transition: .5s;
}

.fadeIn{

}

.slideLeft{
}

/* Main Site Pages */
#main{
    height: 80vh;
    background: rgb(25,26,42);
    background: linear-gradient(0deg, rgba(25,26,42,1) 0%, rgba(33,34,51,1) 50%);
}

#sites{
    margin: 5% 0; 
    padding: 0;
    height: auto;
}

#stats{
    padding: 5% 0;
    /* margin: 5% 0; */
    height: auto;
    min-height: 90vh;
    background-color: rgb(33, 34, 51);
}

#faq{
    padding: 3% 5% 5% 5%; 
    /* margin: 50px 10% 2% 10%;  */
    /* border-radius: 30px; */
    height: auto;
    background: rgb(25,26,42);
    background: linear-gradient(0deg, rgba(25,26,42,1) 0%, rgba(33,34,51,1) 50%);
}

#footer{
    height: auto;
}

#coder{
    color: #32f3ff;
    font-weight: 600;
    text-decoration: underline;
}


/* Webpage Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(50, 243, 255, 1);
    border-radius: 20px;
}
  
::-webkit-scrollbar-track {
    background: rgb(27, 27, 38);
    border-radius: 20px;
}
