@keyframes fadeInAndUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}